@font-face {
  font-family: "iconfont"; /* Project id 3778630 */
  src: url('//at.alicdn.com/t/c/font_3778630_qedzc8i2dr.woff2?t=1672124282504') format('woff2'),
       url('//at.alicdn.com/t/c/font_3778630_qedzc8i2dr.woff?t=1672124282504') format('woff'),
       url('//at.alicdn.com/t/c/font_3778630_qedzc8i2dr.ttf?t=1672124282504') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--duohangwenben:before {
  content: "\e6cc";
}

.icon-sousuo:before {
  content: "\e600";
}

.icon-enterinto:before {
  content: "\e6f9";
}

.icon-taiyang:before {
  content: "\e69f";
}

.icon-fenxiang:before {
  content: "\eed3";
}

.icon-icon_yejianqingtian:before {
  content: "\e609";
}

.icon-gitee:before {
  content: "\e60c";
}